<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>

    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  </head>
  <body>

        <div class="page-header">
          <h1><a href="/">Olá 😄👏</a></h1>
        </div>

        {% block content %}
          {% for post in posts %}
              <div class="post">
                  <div class="date">
                      <p>published: {{ post.published_date }}</p>
                  </div>
                  <h2><a href="">{{ post.title }}</a></h2>
                  <p>{{ post.text|linebreaksbr }}</p>
              </div>
          {% endfor %}
        {% endblock %}


  </body>
</html>
